<div class="navbar-header {{vm.app.settings.navbarHeaderColor}}">
    <button class="pull-right visible-xs dk" ng-click="vm.toggleTopbar()">
        <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs" ng-click="vm.toggleAside()" ui-scroll-to="vm.app">
        <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a href="#/" class="navbar-brand text-lt">
        <img ng-src="{{vm.app.logo}}" alt="." class="hide">
        <span class="hidden-folded m-l-xs">{{vm.app.name}}</span>
    </a>
    <!-- / brand -->
</div>
<div class="collapse pos-rlt navbar-collapse box-shadow {{vm.app.settings.navbarCollapseColor}}" ng-class="{'show': vm.activeTopbar}">
    <!-- buttons -->
    <div class="nav navbar-nav hidden-xs">
        <a href class="btn no-shadow navbar-btn" ng-click="vm.app.settings.asideFolded = !vm.app.settings.asideFolded">
            <i class="fa {{vm.app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
        </a>
    </div>
    <!-- / buttons -->
    <!-- link and dropdown -->
    <ul class="nav navbar-nav" ng-if="vm.topbar">
        <li ng-repeat="item in vm.topbar.items | orderBy: 'position'" class="{{item.itemClass}}" ng-class="{'active':vm.$state.includes(item.link), 'dropdown':item.items.length > 0}" dropdown>
            <!-- NIVEL 01 -->
            <a ui-sref="{{item.link}}" ng-if="item.items.length == 0">
                <i ng-if="item.icon" class="{{item.icon}}"></i>
                <span ng-bind="item.title"></span>
            </a>
            <!-- NIVEL 01 Sub -->
            <a class="dropdown-toggle" ng-if="item.items.length > 0" dropdown-toggle>
                <i ng-if="item.icon" class="{{item.icon}}"></i>
                <span ng-bind="item.title"></span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" ng-if="item.items.length > 0">
                <li ng-repeat="sub1 in item.items | orderBy: 'position'" ng-class="{'dropdown-submenu':sub1.items.length > 0}">
                    <!-- NIVEL 02 -->
                    <a tabindex="-1" ui-sref="{{sub1.link}}" ng-if="sub1.items.length == 0">
                        <span ng-bind="sub1.title"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- / link and dropdown -->

    <!-- search form -->
    <form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" target=".navbar-collapse" role="search">
        <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control input-sm bg-light no-border rounded padder" placeholder="Search projects...">
            <span class="input-group-btn">
            <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
            </span>
        </div>
        </div>
    </form>
    <!-- / search form -->
    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" dropdown>
            <a href="javascript:void(0)" class="dropdown-toggle clear" dropdown-toggle>
                <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                    <img src="assets/img/a0.jpg" alt="...">
                </span>
                <span class="hidden-sm hidden-md" ng-bind="authentication.username"></span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li ng-repeat="item in vm.dropdownUser.items | orderBy: 'position'" class="{{item.itemClass}}" ng-class="{'active':vm.$state.includes(item.link)}">
                    <a ui-sref="{{item.link}}">
                        <span ng-bind="item.title"></span>
                    </a>
                </li>
                <li ng-if="vm.dropdownUser.items.length > 0" class="divider"></li>
                <li>
                    <a ng-click="vm.logout()">Sair</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
    </ul>
    <!-- / navbar right -->
</div>
