<!-- navbar -->
<div ng-include=" 'layout/blocks/header.html' " class="app-header navbar"></div>
<!-- / navbar -->

<!-- menu -->
<div ng-include=" 'layout/blocks/aside.html' " class="app-aside hidden-xs {{app.settings.asideColor}}" ng-class="{'off-screen': activeAside}"></div>
<!-- / menu -->

<!-- content -->
<div class="app-content">
    <a href class="off-screen-toggle hide" ng-click="toggleAside()"></a>
    <div class="app-content-body fade-in-up" ui-view></div>
</div>
<!-- /content -->

<!-- footer -->
<div class="app-footer wrapper b-t bg-light">
    <span class="pull-right">{{app.version}} <a href ui-scroll-to="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
    &copy; 2015 Copyright.
</div>
<!-- / footer -->

<div ng-include=" 'layout/blocks/settings.html' " ng-class="{'active': activeSetting}" class="settings panel panel-default"></div>