<div class="col">
	<!-- main header -->
	<div class="bg-light lter b-b wrapper-md">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<h1 class="m-n font-thin h3 text-black" ng-if="!id">Novo Usuário</h1>
				<h1 class="m-n font-thin h3 text-black" ng-if="id">Editar Usuário</h1>
				<small class="text-muted">
					<a ui-sref="usAdmin.dashboard">Home</a> > 
					<a ui-sref="usAdmin.userList">Usuários</a> > 
					<span ng-if="!id">Novo Usuário</span>
					<span ng-if="id">Editar Usuários</span>
				</small>
			</div>
		</div>
	</div>
	<div class="wrapper-md">
		<div class="row">
			<div class="col-xs-12">
				<formly-form model="user" fields="userFields">
					<button type="submit" class="btn btn-default" ng-click="submit(user)">Submit</button>
				</formly-form>
			</div>
		</div>
	</div>
</div>
