<div class="col">
	<div class="bg-light lter b-b wrapper-md">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<h1 class="m-n font-thin h3 text-black" ng-bind="title"></h1>
				<small class="text-muted">
					<a ui-sref="usAdmin.dashboard">Home</a> > 
					<a ng-click="$state.go(router.list)" ng-bind="breadcrumb"></a> > 
					<span ng-bind="title"></span>
				</small>
			</div>
		</div>
	</div>
	<div class="wrapper-md">
		<div class="row">
			<div class="col-xs-12">
				<formly-form model="user" fields="userFields">
					<button type="submit" class="btn btn-default" ng-click="submit(user)">Submit</button>
				</formly-form>
			</div>
		</div>
	</div>
</div>
