<div class="col">
	<div class="bg-light lter b-b wrapper-md">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<h1 class="m-n font-thin h3 text-black" ng-bind="vm.title"></h1>
				<small class="text-muted">
					<a ui-sref="usAdmin.dashboard">Home</a> >
					<a ng-click="vm.$state.go(vm.router.list)" ng-bind="vm.breadcrumb"></a> >
					<span ng-bind="vm.title"></span>
				</small>
			</div>
		</div>
	</div>
	<div class="wrapper-md">
		<div class="row">
			<form class="usForm" name="usForm" ng-submit="vm.submit(usForm)" novalidate>
				<formly-form model="vm.model" fields="formFields" form="usForm">
					<div class="col-xs-12 text-right">
						<button type="submit" class="btn btn-default">Submit</button>
					</div>
				</formly-form>
			</form>
		</div>
	</div>
</div>
