<div class="aside-wrap">
    <div class="navi-wrap">
        <nav ui-nav class="navi clearfix">
            <ul class="nav">
                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                    <span>Navigation</span>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="usAdmin.dashboard">
                        <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
                        <span class="font-bold">Dashboard</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
