'use strict';

USConfig.serverUrl = 'http://api.localhost';
USConfig.layout = {
	name: 'Undefined',
	version: '0.0.1',
	color: {
		primary: '#4051B5',
		info:    '#00BCD4',
		success: '#4CAF50',
		warning: '#FFC107',
		danger:  '#E91C63',
		light:   '#EFEFEF',
		dark:    '#455A64',
		black:   '#14171A'
	},
	settings: {
		themeID: 1,
		navbarHeaderColor: 'bg-primary',
        navbarCollapseColor: 'bg-primary',
        asideColor: 'bg-black',
		headerFixed: true,
		asideFixed: false,
		asideFolded: false,
		asideDock: false,
		container: false
	}
};